body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  color: lightgray;
  background-color: #121212;
}
h1 {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button {
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
}
button:disabled {
  color: gray;
  cursor: not-allowed;
}

.header {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.links {
  display: flex;
  gap: 20px;
}
.columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
canvas {
  border: 1px solid lightgray;
  background-color: black;
  margin-top: 20px;
}
.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

select,
input[type="number"],
input[type="color"],
input[type="file"] {
  margin: 0 5px;
  color: lightgray;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
input[type="number"],
input[type="color"] {
  width: 100px;
}
.config-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.config-section {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222222;
}
.config-section h2 {
  margin-top: 0;
}
.form-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
label {
  display: inline-block;
}
.image-upload {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#svg-container {
  background-color: #222222;
  border-radius: 5px;
  border: 1px solid lightgray;
  overflow: auto;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  display: none;
}
