@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg-color: theme("colors.gray.100");
}

html.dark {
  --dark-bg-color: theme("colors.gray.900");
}

html,
body {
  background-color: var(--light-bg-color);
}

html.dark,
body.dark {
  background-color: var(--dark-bg-color);
}
